<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="toppart">
        <h1>Flash Cards with Flask</h1>
    </div>

    <div class="middlepart">
        <h2>Login</h2>
    </div>

    <form method="post">
        <a>Enter Username</a>
        <input type="text" name="username" placeholder="Username">
        <a>Enter Password</a>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="Go">
    </form>

    <a href="register.html">register here!</a>
    
</body>
</html>